.feed {
    padding: 30px 150px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
   
}

.name {
    margin-left: 0px;
}