
  
.button {
   color: #BD4B4B;
   position: absolute;
   top: 400px;
   left: 615px;
}





.login > button {
    width: 300px;
    background-color:#FF1616;
    color : #eff2f5;
    font-weight: 800;
}

.login > button:hover {
    background-color: white;
    color:tomato
    
}

.image {

    position: absolute;
    top: 8%;
    left: 630px;
    height: 250px;
    width: 250px;
}