.messageSender {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 65%;
    margin-top: -40px;
    margin-left: 15px;
    
}

.messageSender__top {
    display: flex;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
   
}

.meassageSender__top > form {
    flex: 1;
    display: flex;
    
}

.messageSender__top > form >input {
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
    margin-left: 70px;
    height: 30px;
    width: 200px;
;
}

.messageSender__top > form >button {
    display: none;
}

.messageSender__input {
    
    flex: 1;
}

@media (max-width: 1200px) {
    .messageSender__top >form > button {
        display: visible;
    }
}

.messageSender__bottom{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
}

.messageSender__option{
    padding: 20px;
    display: flex;
    align-items: center;
    margin: 5px;
}

.messageSender__option > h3{
    font-size: medium;
    margin-left: 10px;
}


.avatarMsender{
    padding-left: 10px;
}

.messageSender__option{
    margin-left: 50px;
}